#bcground{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bldg{
	width:  500px;
}


.contain{
	display: table-cell;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 375px;
}

.loginBox{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: -50px;
	height: 50%;
	width: 20%;
	background-color: gray;
	opacity: .85;
	border-radius: 15px;
}

.post{
	margin-left: 10px;
	margin-right: 10px;
	height: auto;
	background-color: gray;
	opacity: .75;
	border-radius: 15px;
	color: white;
}


.forms{
	margin-left: 20%;
	margin-right: auto;
	margin-top: 15px;
	display: block;
}

#header1{
	background-color: gray;
	text-align: center;
	color: white;
	height: 60px;
	width: 40%;
	border-radius: 60px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	opacity: .85;
}

#create1{
	margin-left: 20%;
}

.title1{
	margin-bottom: -1px;
}

#createacc{
	visibility: hidden;
}

#comm{
	color: red;
}

.field{
	width: 75%;
}