#header1{
	background-color: #04398e;
	text-align: center;
	color: white;
	height: 75px;
	margin-top: -20px;
	margin-left: -10px;
	margin-right: -10px;
}

#head1{
	height: 50%;
}

#link1{
	color: white;
}
#link1:hover{
	font-weight: bold;
	color: red;
}
#link1:active{
	color: yellow;
}

.w3-button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5%;
	display: inline-block;
}

#but{
	margin-left: 48%;
}

#yeah{
	transform: rotate(90deg);
	margin-top: 10%;
}

.picture1{
	width: 35%;
	height: 35%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
	border: 3px solid #04398e;	
}
